<h1>Listing colorpalettes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colorpalettes.each do |colorpalette| %>
      <tr>
        <td><%= colorpalette.name %></td>
        <td><%= link_to 'Show', colorpalette %></td>
        <td><%= link_to 'Edit', edit_colorpalette_path(colorpalette) %></td>
        <td><%= link_to 'Destroy', colorpalette, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colorpalette', new_colorpalette_path %>
