<% if user.errors.present? %>
  <h4>There were some errors:</h4>

  <ul class="form-errors">
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for user do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <span class="note">Longer than 6 characters.</span>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <span class="note">Longer than 1 character, no <abbr title="!@#$%^&amp;*()">special characters</abbr></span>
  </p>
  <section class="payment">
    <div class="credit-card">
      <p class="legend"><i class="lock"></i>Please enter your credit card information</p>
      <p>
        <label for="signup_creditcard_number">Credit card number</label>
        <input type="text" style="width: 375px;" placeholder="4080 2388 8940 5670"pattern="[0-9]{13,16}" id="signup_creditcard_number">
        <span class="note">VISA, MasterCard, American Express or Discover.</span>
      </p>
      <ul class="fields">
        <li>
          <label for="signup_creditcard_cvv">CVV</label>
          <input type="text" style="width: 75px;" id="signup_creditcard_cvv" placeholder="238">
        </li>
        <li>
          <label for="signup_creditcard_exp_date">Exp. date</label>
          <input type="text" style="width: 150px;" id="signup_creditcard_exp_date" placeholder="08/17">
        </li>
      </ul>
      <p>
        <label for="signup_creditcard_nameoncard">Name on card</label>
        <input type="text" id="signup_creditcard_nameoncard" placeholder="Alfred Hitchcock">
      </p>
      <p>
        <label for="signup_creditcard_country">Country</label>
        <select id="signup_creditcard_country">
          <option value="us">United States</option>
        </select>
      </p>
      <p>
        <label for="signup_creditcard_zipcode">Billing zipcode</label>
        <input type="text" style="width: 150px;" id="signup_creditcard_zipcode" placeholder="10016">
        <span class="side-note" style="width: 200px;">We don’t need your billing address, that’s old-fashioned.</span>
      </p>
    </div>
    <aside class="price-info">
      <p class="legend">
        You will be paying:
        <mark class="price"><strong>$10</strong> per year</mark>
      </p>
    </aside>
  </section>
  <hr class="clear">
  <p>
    <%= f.submit %>
  </p>
<% end %>
