<tr>
<td bgcolor="#<%= coloritem.hex %>"><%= coloritem.name %></td>
<td bgcolor="#<%= coloritem.hex %>"><%= coloritem.hex %></td>
<td bgcolor="#<%= coloritem.hex %>"><%= coloritem.mixed %></td>
<td bgcolor="#<%= coloritem.hex %>"><%= coloritem.order %></td>
<td bgcolor="#<%= coloritem.hex %>"><%= link_to 'Show', coloritem %></td>
<td bgcolor="#<%= coloritem.hex %>"><%= link_to 'Edit', edit_coloritem_path(coloritem) %></td>
<td bgcolor="#<%= coloritem.hex %>"><%= link_to 'Destroy', coloritem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>