<%= form_for(@coloritem) do |f| %>
  <% if @coloritem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coloritem.errors.count, "error") %> prohibited this coloritem from being saved:</h2>

      <ul>
      <% @coloritem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hex %><br>
    <%= f.text_field :hex %>
  </div>
  <div class="field">
    <%= f.label :mixed %><br>
    <%= f.check_box :mixed %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :colorpalette_id %><br>
    <%= f.text_field :colorpalette_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
