<h1>Listing coloritems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hex</th>
      <th>Mixed</th>
      <th>Order</th>
      <th>colorPalette</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coloritems.each do |coloritem| %>
      <tr>
        <td bgcolor="#<%= coloritem.hex %>"><%= coloritem.name %></td>
        <td bgcolor="#<%= coloritem.hex %>"><%= coloritem.hex %></td>
        <td bgcolor="#<%= coloritem.hex %>"><%= coloritem.mixed %></td>
        <td bgcolor="#<%= coloritem.hex %>"><%= coloritem.order %></td>
        <td bgcolor="#<%= coloritem.hex %>"><%= coloritem.colorpalette %></td>
        <td bgcolor="#<%= coloritem.hex %>"><%= link_to 'Show', coloritem %></td>
        <td bgcolor="#<%= coloritem.hex %>"><%= link_to 'Edit', edit_coloritem_path(coloritem) %></td>
        <td bgcolor="#<%= coloritem.hex %>"><%= link_to 'Destroy', coloritem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coloritem', new_coloritem_path %>
