<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coloritem.name %>
</p>

<p>
  <strong>Hex:</strong>
  <%= @coloritem.hex %>
</p>

<p>
  <strong>Mixed:</strong>
  <%= @coloritem.mixed %>
</p>

<p>
  <strong>Order:</strong>
  <%= @coloritem.order %>
</p>

<p>
  <strong>Palette:</strong>
  <%= @coloritem.colorpalette %>
</p>

<%= link_to 'Edit', edit_coloritem_path(@coloritem) %> |
<%= link_to 'Back', coloritems_path %>
